In [16]:
# Question 1: Create a list of first 10 square numbers
num = (1,11)
squares = []
for i in range(1, 11):
  squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [26]:
# Question 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_sum = 0
for num in numbers:
  if num % 2 == 0:
    even_sum += num
print(f"The sum of even numbers is: {even_sum}")

The sum of even numbers is: 30

In [17]:
#Question 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
numbers = [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
unique_numbers = list(set(numbers))
print(f"Original list: {numbers}")
print(f"List after removing duplicates: {unique_numbers}")

Original list: [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
List after removing duplicates: [1, 2, 3, 4, 5, 6, 7]

In [24]:
#Question 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
numbers = [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
unique_numbers = list(set(numbers))
print(unique_numbers)

[1, 2, 3, 4, 5, 6, 7]

In [36]:
# Question 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order
numbers_list = [64, 34, 25, 12, 22, 11, 90]
numbers_list.sort(reverse=True)
print(f" {numbers_list}")

 [90, 64, 34, 25, 22, 12, 11]

In [38]:
numbers_new = [1,2,5,6,7,10,16]
numbers_new.sort(reverse=True)
print(f"{numbers_new}")

[16, 10, 7, 6, 5, 2, 1]

In [39]:
# Question 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]
numbers = [15, 23, 31, 42, 56, 78, 91]
total = sum(numbers)
average = total / len (numbers)
print(average)

48.0

In [50]:
# Question 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]
numbers = [45, 67, 23, 89, 12, 34, 78]
numbers.sort()
sec_largest = numbers[-2]
print(sec_largest)

78

In [47]:
numbers = [45, 67, 23, 89, 12, 34, 78]
numbers.sort()
print(numbers)

[12, 23, 34, 45, 67, 78, 89]

In [55]:
# Question 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
rev_list = list[::-1]
print(rev_list)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [70]:
# Question 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]
numbers =[1, 5, 2, 5, 3, 5, 4, 5, 6]
count = numbers.count(5)
print(f"5 appears {count_of_five} times")

5 appears 4 times

In [82]:
# Question 21: Find the length of each string in ["apple", "banana", "cherry", "date"]
strings = ["apple", "banana", "cherry", "date"]
lengths = []
for s in strings:
    lengths.append(len(s))
print(f"The lengths of the strings are: {lengths}")

The lengths of the strings are: [5, 6, 6, 4]