In [13]:
## Question 1: Create a tuple of first 10 natural numbers
numbers_list = []
for i in range(1, 11):
    numbers_list.append(i)
natural_numbers = tuple(numbers_list)
print(natural_numbers)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [16]:
# Question 2: Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
total = len(numbers)
print(total)

10

In [18]:
# Question 3: Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')
letters = ('a', 'b', 'c', 'd', 'e')
third_element = letters[2]
print(third_element)

c

In [19]:
# Question 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)
numbers = (23, 45, 12, 67, 34, 89, 56)
maximum = max(numbers)
print(maximum)

89

In [20]:
# Question 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)
numbers = (1, 5, 2, 5, 4, 5, 6)
numbers.count(5)
print(numbers.count(5))

3

In [31]:
# Question 6: Create a tuple of mixed data types (integer, float, string, boolean)
## data_type = (integer, float, string, boolean)
mixed_data_tuple = (10, 3.14, "hello", True)
print(mixed_data_tuple)

(10, 3.14, 'hello', True)

In [37]:
# Question 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)
numbers = (15, 23, 31, 42, 56, 78)
average = sum(numbers)/len(numbers)
print(average)

40.833333333333336

In [38]:
# Question 9: Create a tuple of first 5 even numbers
even_numbers = (2,4,6,8,10)
print(even_numbers)

(2, 4, 6, 8, 10)

In [47]:
# Question 7: Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')
languages = ('java', 'python', 'c++', 'javascript')
index_of_python = languages.index('python')
print(index_of_python)

1

In [60]:
# Question 8: Check if 25 exists in tuple (10, 20, 30, 40, 50)
numbers = (10, 20, 30, 40, 50)
for i in numbers:
    if i == 25:
       print("25 is present")
    else :
        print("25 is not present")
        break

25 is not present