In [1]:
# Question 4: Get all values from dictionary {'python': 3, 'java': 2, 'c++': 1}
dictionary = {'python': 3, 'java': 2, 'c++': 1}
value = dictionary.values()
print(value)

dict_values([3, 2, 1])

In [16]:
# Question 1: Create a dictionary of student names and their ages
#student_names = {'ramu', 'prashanth', 'sunny', 'rahul'}
#student_ages = {20, 21, 19, 22}
students = {
    "ramu": 20,
    "prashanth": 21,
    "sunny": 19,
    "rahul": 22
}

print(students)

{'ramu': 20, 'prashanth': 21, 'sunny': 19, 'rahul': 22}

In [19]:
# Question 2: Add a new key-value pair to dictionary {'a': 1, 'b': 2, 'c': 3}
dictionary = {'a': 1, 'b': 2, 'c': 3}
dictionary['d'] = 4
print(dictionary)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [28]:
# Question 3: Get all keys from dictionary {'name': 'John', 'age': 25, 'city': 'New York'}
dictionary = {'name': 'John', 'age': 25, 'city': 'New York'}
keys_list = dictionary.keys()
print(keys_list)

dict_keys(['name', 'age', 'city'])

In [34]:
# Question 5: Check if key 'age' exists in {'name': 'Alice', 'age': 30, 'city': 'London'}
dictionary = {'name': 'Alice', 'age': 30, 'city': 'London'}
if 'age' in dictionary:
    print("key 'age' is present")
else:
    print("key 'age' is not present")

key 'age' is present

In [41]:
# Question 6: Remove key 'temp' from {'a': 1, 'b': 2, 'temp': 3, 'c': 4}
dictionary = {'a' : 1, 'b' : 2, 'temp' : 3,'c' : 4, }
remove_key = dictionary.pop('temp')
print(dictionary)

{'a': 1, 'b': 2, 'c': 4}

In [43]:
# Question 7: Find the sum of all values in {'math': 85, 'science': 92, 'english': 78}
dictionary = {'math': 85, 'science': 92, 'english': 78}
total = sum(dictionary.values())
print(total)

255