In [3]:
# Question: Find the union of two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
union_set = set1.union(set2)
print(f"Set 1: {set1}")
print(f"Set 2: {set2}")
print(f"Union: {union_set}")

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Union: {1, 2, 3, 4, 5, 6, 7, 8}

In [6]:
# Question 1: Create a set of first 10 natural numbers
natural_numbers = set(range(1,11))
print(f"Natural Numbers: {natural_numbers}")

Natural Numbers: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [10]:
# Question 2: Add element 11 to set {1, 2, 3, 4, 5}
set = {1, 2, 3, 4, 5}
set.add(11)
print(set)

{1, 2, 3, 4, 5, 11}

In [17]:
# Question 3: Remove element 3 from set {1, 2, 3, 4, 5, 6}
numbers = {1, 2, 3, 4, 5, 6}
numbers.remove(3)
print(numbers)

{1, 2, 4, 5, 6}

In [21]:
# Question 4: Find the intersection of {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
intersection_set = set1.intersection(set2)
print(intersection_set)

{4, 5}

In [22]:
# Question 5: Find the difference between {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
difference_set = set1.difference(set2)
print(difference_set)

{1, 2, 3}

In [23]:
# Question 6: Check if 5 is in set {1, 2, 3, 4, 6, 7, 8}
set = {1, 2, 3, 4, 6, 7, 8}
if 5 in set:
    print("5 is in the set")
    print(set)
else:
    print("5 is not in the set")
    print(set)

5 is not in the set
{1, 2, 3, 4, 6, 7, 8}

In [24]:
# Question 7: Find the length of set {'a', 'b', 'c', 'd', 'e'}
set = {'a', 'b', 'c', 'd', 'e'}
print(len(set))

5

In [29]:
# Question 8: Create a set of vowels from string "hello world"
string = "hello world"
all_vowels = __builtins__.set("aeiou")
vowels_from_string = all_vowels.intersection(string)
print(f"Vowels in '{string}': {vowels_from_string}")

Vowels in 'hello world': {'o', 'e'}

In [1]:
# Question 9: Remove duplicates from list [1, 2, 2, 3, 4, 4, 5, 6, 6, 7] using set
nums = [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
unique_nums = list(set(nums))
print(unique_nums)

[1, 2, 3, 4, 5, 6, 7]

In [3]:
# Question 10: Check if {1, 2, 3} is a subset of {1, 2, 3, 4, 5, 6}
A = {1, 2, 3}
B = {1, 2, 3, 4, 5, 6}
print(A.issubset(B))

True