In [ ]:
#Problem 1.1: Grade Calculator (Easy)
#Write a program that takes a student's marks (0-100) as input and prints their grade according to the following criteria:
#90-100: Grade A
#80-89: Grade B
#70-79: Grade C
#60-69: Grade D
#Below 60: Grade F
#Also, validate that the marks are within the valid range (0-100).

number = int(input("Enter your marks: "))
if number >= 90:
  print("Grade A")
elif number >= 80:
  print("Grade B")
elif number >= 70:
  print("Grade C")
elif number >= 60:
  print("Grade D")
else:
  print("Grade F")

Enter your marks: 61
Grade D

In [ ]:
#Write a program to check if a given year is a leap year or not.
#Rules:

#A year is a leap year if it is divisible by 4
#However, if it is divisible by 100, it is NOT a leap year
#Exception: If it is also divisible by 400, then it IS a leap year
#Examples:

#2000: Leap year (divisible by 400)
#1900: Not a leap year (divisible by 100 but not 400)
#2024: Leap year (divisible by 4 but not 100)
#Hint: Check conditions in order: first divisible by 400, then by 100, then by 4. Use modulo operator (%) to check divisibility.

year = int(input("Enter a year: "))
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
  print(f"{year} is a leap year.")
else:
  print(f"{year} is not a leap year.")

Enter a year: 2025
2025 is not a leap year.

In [32]:
#Write a program that takes three sides of a triangle as input and determines:
#Whether the three sides can form a valid triangle (sum of any two sides must be greater than the third side)
#If valid, classify the triangle as:
#Equilateral (all three sides equal)
#Isosceles (exactly two sides equal)
#Scalene (no sides equal)
#Hint: First check: (a+b>c) and (b+c>a) and (a+c>b). Then use == to compare sides: if all three equal, it's equilateral; if any two equal, it's isosceles; otherwise scalene.

sides_of_triangle = ("three sides of a triangle as input and determines:")
if (a + b > c) and (b + c > a) and (a + c > b):
  print(f"The sides {a}, {b}, {c} can form a valid triangle.")
  if a == b == c:
    print("Equilateral")
  elif a == b or b == c or a == c:
    print("Isosceles")
  else:
    print("Scalene")
else:
  print(f"The sides {a}, {b}, {c} cannot form a valid triangle.")

The sides 2.0, 2.0, 2.0 can form a valid triangle.
Equilateral

In [34]:
#Write a program that calculates BMI (Body Mass Index) and categorizes it.

#Formula: BMI = weight (kg) / (height (m))²

#Categories:
#Below 18.5: Underweight,18.5-24.9: Normal weight,25-29.9: Overweight30 and above: Obese
#Hint: First calculate BMI using the formula (use ** for power or multiply height by itself). Then use if-elif-else to categorize.

# Input weight and height
weight = float(input("Enter your weight in kg: "))
height = float(input("Enter your height in meters: "))

# Calculate BMI
bmi = weight / (height ** 2)

# Display BMI
print(f"Your BMI is: {bmi:.2f}")

# Categorize BMI
if bmi < 18.5:
    print("Category: Underweight")
elif 18.5 <= bmi <= 24.9:
    print("Category: Normal weight")
elif 25 <= bmi <= 29.9:
    print("Category: Overweight")
else:
    print("Category: Obese")

Enter your weight in kg: 16
Enter your height in meters: 4
Your BMI is: 1.00
Category: Underweight

In [37]:
#Write a program that prints the multiplication table for a given number (1 to 10).
#Example output for number 5:
#5 x 1 = 5
#5 x 2 = 10
#5 x 3 = 15
#...
#5 x 10 = 50
#Hint: Use for loop with range(1, 11) to iterate from 1 to 10. Multiply the number by loop variable i.

table_num = int(input("Enter a number for the multiplication table: "))
for i in range(1, 11):
  print(f"{table_num} x {i} = {table_num * i}")

Enter a number for the multiplication table: 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [40]:
#Write a program to calculate the factorial of a number using a for loop.
#Factorial of n (n!) = n × (n-1) × (n-2) × ... × 1
#Example: 5! = 5 × 4 × 3 × 2 × 1 = 120
#Hint: Initialize result = 1. Use for loop with range(1, n+1) and multiply result by each number.

n = int(input("Enter a number: "))
result = 1
for i in range(1, n + 1):
    result *= i
print(f"Factorial of {n} is {result}")

Enter a number: 6
Factorial of 6 is 720

In [48]:
#Write a program that calculates the sum of all even numbers between 1 and n (inclusive), where n is provided by the user.
#Example: If n = 10, sum = 2 + 4 + 6 + 8 + 10 = 30
#Hint: Use for loop with range(1, n+1). Check if i % 2 == 0, then add to sum. Or use range(2, n+1, 2) to iterate only even numbers.

n = int(input("Enter a number (n): "))
sum_of_evens = 0

for i in range(1, n + 1):
   if i % 2 == 0:
      sum_of_evens += i

print(f"The sum of even numbers between 1 and {n} is: {sum_of_evens}")

Enter a number (n): 50
The sum of even numbers between 1 and 50 is: 650

In [53]:
#Write a program that reverses the digits of a given number using a while loop.
#Example: Input: 12345, Output: 54321
#Hint: Initialize reverse=0. While n>0: get last digit (n%10), add to reverse (reverse=reverse*10+digit), remove last digit (n=n//10).
n = 12345
reverse = 0
while n > 0:
    digit = n % 10
    reverse = reverse * 10 + digit
    n = n // 10
print("Reversed number:", reverse)

Reversed number: 54321

In [54]:
#Write a program that calculates the sum of all digits in a given number.
#Example: Input: 12345, Output: 15 (1+2+3+4+5)
#Hint: While n>0: add last digit to sum (sum += n%10), then remove it (n = n//10).

n = int(input("Enter a number: "))
digit_sum = 0
while n > 0:
    digit_sum += n % 10
    n = n // 10
print("Sum of digits:", digit_sum)

Enter a number: 12345
Sum of digits: 15

In [55]:
#Print the following pattern for n rows:
#*
#**
#***
#****
#*****
#(Example shown for n=5)
#Hint: Use nested loops: outer loop for rows (i from 1 to n), inner loop for columns (j from 1 to i). Print * in inner loop.

n = int(input("Enter number of rows: "))
for i in range(1, n + 1):
    for j in range(1, i + 1):
        print("*", end="")
    print()

Enter number of rows: 5
*
**
***
****
*****

In [59]:
#Print the following pattern for n rows:
#*****
#****
#***
#**
#*
#(Example shown for n=5)
#Hint: Outer loop for rows. Inner loop prints stars from 1 to (n-i+1), where i is the row number.
n = int(input("Enter number of rows: "))
for i in range(1, n + 1):
    for j in range(1, n - i + 2):
        print("*", end="")
    print()

Enter number of rows: 5
*****
****
***
**
*