In [ ]:
mixed_numbers = [-3, -1, 0, 2, 5, -8, 10]
for num in mixed_numbers:
    if num > 0:
        print(num)

2
5
10

In [ ]:
positive_numbers = [num for num in mixed_numbers if num >0]
positive_numbers

[2, 5, 10]

In [ ]:
# word with more than 3 letters
words = ["AI", "Python", "ml", "data", "ds"]
for word in words:
    if len(word)>3:
        print(word)

Python
data

In [ ]:
words = [word for word in words if len(word)>3]
words

['Python', 'data']

In [ ]:
# Filter names starting with "A"
names = ['Amit', "Raj", "Anita", "Anand", "Bharath"]

for name in names:
  if name.startswith("A"):
    print(name)

Amit
Anita
Anand

In [ ]:
names = [name for name in names if name.startswith("A")]
names

['Amit', 'Anita', 'Anand']

In [ ]:
# List of numbers square if positive , cube if negative
nums = [-3,-2,-1,0,1,2,3]
result = []
for num in nums:
    if num > 0:
        result.append(num ** 2)
    else:
        result.append(num ** 3)
print(result)

[-27, -8, -1, 0, 1, 4, 9]

In [ ]:
result = [num**2 if num>0 else num**3 for num in nums]
result

[-27, -8, -1, 0, 1, 4, 9]

In [ ]:
## if score should be more than or equal to 40["pass", "fail"]
marks = [30, 45, 60, 80, 25]
result = []
for mark in marks:
  if mark >= 40:
   print("pass")
  else:
    print("fail")

fail
pass
pass
pass
fail

In [ ]:
marks = ["pass" if mark>=40 else "fail" for mark in marks]
marks

['fail', 'pass', 'pass', 'pass', 'fail']

In [14]:
##Question 1 Write a program to copy all elements from one list to another

numbers = [1, 2, 3, 4, 5]
# 1. Copy a list
[x for x in numbers]
numbers

[1, 2, 3, 4, 5]

In [7]:
# 2. Convert strings to integers
strings = ["1", "2", "3"]
[int(s) for s in strings]
strings

['1', '2', '3']

In [17]:
#3. Get lengths of words
words = ["apple", "banana", "cherry"]
result = [len(word) for word in words]
result

[5, 6, 6]

In [19]:
##4.Write a program to convert a list of strings into integers
strings = ["10", "20", "30"]
result = [int(s) for s in strings]
result

[10, 20, 30]

In [21]:
##5.Write a program to double each number in a lis
numbers = [1, 2, 3, 4]
result = [x * 2 for x in numbers]
result

[2, 4, 6, 8]

In [22]:
##6Write a program to find the square of each number
numbers = [2, 3, 4]
result = [x ** 2 for x in numbers]
result

[4, 9, 16]

In [24]:
##Write a program to convert all numbers into strings.
numbers = [1, 2, 3]
result = [str(x) for x in numbers]
result

['1', '2', '3']

In [25]:
##Write a program to find all even numbers greater than 4.

numbers = [1, 2, 3, 4, 5, 6, 7, 8]
result = [x for x in numbers if x % 2 == 0 if x > 4]
result

[6, 8]

In [26]:
##Write a program to find all odd numbers less than 6.

numbers = [1, 2, 3, 4, 5, 6, 7]
result = [x for x in numbers if x % 2 != 0 if x < 6]
result

[1, 3, 5]

In [27]:
##Write a program to find numbers divisible by both 2 and 3.

numbers = [1, 2, 3, 4, 5, 6, 12]
result = [x for x in numbers if x % 2 == 0 if x % 3 == 0]
result

[6, 12]

In [28]:
##Write a program to label numbers as "even" or "odd".

numbers = [1, 2, 3, 4, 5]
result = ["even" if x % 2 == 0 else "odd" for x in numbers]
result

['odd', 'even', 'odd', 'even', 'odd']

In [29]:
##Write a program to square even numbers and keep odd numbers unchanged.

numbers = [1, 2, 3, 4]
result = [x**2 if x % 2 == 0 else x for x in numbers]
result

[1, 4, 3, 16]

In [31]:
##Write a program to replace negative numbers with zero.

values = [-3, -1, 0, 2, 4]
result = [x if x >= 0 else 0 for x in values]
result

[0, 0, 0, 2, 4]