In [ ]:
## calculate avg of three diff groups

group1_sum = 12 + 34 + 67
group1_avg = group1_sum / 3
print(f"Group 1 average: {group1_avg}")


group2_sum = 45 + 67 + 23
group2_avg = group2_sum / 3
print(f"Group 2 average: {group2_avg}")

group3_sum = 43 + 78 + 89
group3_avg = group3_sum / 3
print(f"Group 3 average: {group3_avg}")

Group 1 average: 37.666666666666664
Group 2 average: 45.0
Group 3 average: 70.0

In [ ]:
## With functions- Clear and REusable code

def calculate_average(scores):
    total = sum(scores)
    avg = total / len(scores)
    return avg

# use the fucntion

print(f'Groupd 1 average : {calculate_average([80,23,56])}')

Groupd 1 average : 53.0

In [ ]:
calculate_average([23,67,89,12])

47.75

In [ ]:
calculate_average([12,4,67,78,89,89,445,56,567])

156.33333333333334

In [ ]:
## Basic syntax for defining fucntiosn

def function_name(parameters):
    """
    Docstring: Describes what the fucntion does
    this fucntion takes string as input
    """
    # fucntion body
    # block of code to execute
    result = a + b
    return result

In [ ]:
## examp 1 without parameters

def greet():
    """Prints a greeting message
    when ever i call it i print this welcome message"""
    print("Hello! welcome to python functions")

In [ ]:
# calling fucntiosn m

greet()

Hello! welcome to python functions

In [ ]:
##simple function
def greet():
  print("hello,world!")

greet()

hello,world!

In [ ]:
##function with parameters

def greet(name):
    print(f"Hello, {name}!")

greet("Alice")

Hello, Alice!

In [ ]:
greet("Alice")

Hello, Alice!

In [ ]:
##function with return value
def add(a, b):
  return a + b
result = add(5, 3)
print(result)

8

In [ ]:
print(result)

8

In [ ]:
##function with default parameter
def greet(name="guest"):
    print(f"Hello, {name}!")

greet()
greet("john")

Hello, guest!
Hello, john!

In [ ]:
greet()

Hello, guest!

In [ ]:
greet("john")

Hello, john!

In [ ]:
##function with multiple returns

def calculate(a, b):
  return a + b, a * b
sum_result, product_result = calculate(4, 2)
print(sum_result, product_result)

6 8

In [ ]:
def calculate(a, b):
  return a * b, a // b
product_result, float_result = calculate(10, 15)
print(product_result, float_result)

150 0

In [ ]:
##function with arbitary arguments(*args)

def add_all(*numbers):
    return sum(numbers)

print(add_all(1, 2, 3, 4))

10

In [ ]:
###Function with Keyword Arguments (**kwargs)

def print_info(**info):
    for key, value in info.items():
        print(f"{key}: {value}")

print_info(name="Alice", age=25, city="New York")

name: Alice
age: 25
city: New York

In [ ]:
##lambda function(anonymous function)

square = lambda x: x ** 2
print(square(5))

25