In [ ]:
##filter students greater than 50

students = [
    {"name":"A", "marks":85},
    {"name":"B", "marks":40},
    {"name":"C", "marks":90}
]

In [ ]:
result = list(filter(lambda x: x['marks'] > 50, students))
result

[{'name': 'A', 'marks': 85}, {'name': 'C', 'marks': 90}]

In [ ]:

3. Write a function that takes a string and returns the reversed string.

4. Write a function that checks whether a number is prime.

5. Write a function that takes a list of numbers and returns the largest number.

6. Write a function that takes a list and returns the sum of all elements without using the built-in `sum()` function.

7. Write a function that counts the number of vowels in a string.

8. Write a function that returns the Fibonacci sequence up to `n` terms.

9. Write a function that checks whether a string is a palindrome.

10. Write a function that takes two numbers and returns their greatest common divisor (GCD).

11. Write a function that removes duplicates from a list.

12. Write a function that takes a list of numbers and returns a new list containing only even numbers.

13. Write a function that finds the frequency of each character in a string.

14. Write a function that swaps two numbers without using a third variable.

15. Write a function that converts a temperature from Celsius to Fahrenheit.

In [8]:
###1. Write a function that takes a number as input and returns whether it is even or odd.

def is_even_or_odd(number):
  if number % 2 ==0:
     return "even"
  else:
     return "odd"

In [9]:
print(is_even_or_odd(28))

even

In [12]:
##2. Write a function that takes a number and returns its factorial.

def factorial(number):
   if number ==0:
    return 1
   else:
    return number * factorial(number-1)

In [14]:
print(factorial(5))

120

In [17]:
##3. Write a function that takes a string and returns the reversed string.

def reverse_string(string):
    return string[::-1]

In [18]:
print(reverse_string("prashanth"))

htnahsarp

In [20]:
##4. Write a function that checks whether a number is prime.

def is_prime_or_not(n):
  if n <=1:
      return False
  for i in range(2, int(n**0.5) + 1):
      if n % i == 0:
          return False
  return True

In [21]:
print(is_prime_or_not(17))

True

In [26]:
##5. Write a function that takes a list of numbers and returns the largest number.

def largest_number(n):
  if not n:
      return None # Handle empty list case
  largest = n[0]
  for num in n:
    if num > largest:
        largest = num # Corrected: should assign num, not n
  return largest

In [27]:
print(largest_number([1, 12, 34, 89, 101]))

101

In [28]:
##6. Write a function that takes a list and returns the sum of all elements without using the built-in sum() function.

def sum_list(numbers):
  total = 0
  for num in numbers:
      total += num
  return total

In [32]:
print(sum_list([82]))

82

In [35]:
##7. Write a function that counts the number of vowels in a string.

def count_vowels(s):
  vowels = "aeiouAEIOU"
  count = 0
  for char in s:
      if char in vowels:
         count += 1
  return count

In [37]:
print(count_vowels("prashanth"))

2

In [38]:
##8. Write a function that returns the Fibonacci sequence up to n terms.

def fibonacci(n):
    sequence = []
    a, b = 0, 1
    for _ in range(n):
        sequence.append(a)
        a, b = b, a + b
    return sequence

In [40]:
print(fibonacci(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [41]:
##9. Check whether a string is a palindrome

def is_palindrome(s):
    return s == s[::-1]

In [43]:
print(is_palindrome("madam"))

True

In [45]:
##10. Return the Greatest Common Divisor (GCD)

def gcd(a, b):
    while b:
        a, b = b, a % b
    return a

In [48]:
print(gcd(10,30))

10

In [49]:
##11. Remove duplicates from a list

def remove_duplicates(lst):
    return list(set(lst))

In [51]:
print(remove_duplicates([1, 2, 3, 3, 4, 4, 5]))

[1, 2, 3, 4, 5]

In [52]:
##12. Return a list containing only even numbers

def get_even_numbers(numbers):
    return [num for num in numbers if num % 2 == 0]

In [55]:
print(get_even_numbers([1,2,3,5,6,7,8,9]))

[2, 6, 8]

In [56]:
##13. Swap two numbers without using a third variable

def swap_numbers(a, b):
    a, b = b, a
    return a, b

In [58]:
print(swap_numbers(9, 10))

(10, 9)

In [59]:
##14. Convert Celsius to Fahrenheit

def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32

In [61]:
print(celsius_to_fahrenheit(13))

55.4